name: procesar_eventos

on:
  push:
    branches:
      - main
  schedule:
    - cron: '00 10,15,16,19 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 selenium cloudscraper 

      # ... (parte anterior del workflow igual)

      - name: Run Python script
        run: python descargar_nuevos_eventos.py

      - name: Configurar identidad de Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Add changes
        run: git add code.txt debug_eventos.txt code_iframe.txt eventos.csv zz_eventos_ott.m3u zz_eventos_all_ott.m3u

      - name: Commit changes
        run: git commit -m "Actualización automática de eventos" || echo "No hay cambios para confirmar"

      - name: Pull cambios recientes con rebase
        run: git pull origin main --rebase

      - name: Push changes
        run: git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
