name: prueba

on:
  workflow_dispatch:

jobs:
  run-zeronet:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run ZeroNet with Docker
      run: |
        docker run -d \
          --name zeronet \
          -p 43110:43110 \
          nofish/zeronet

    - name: Wait for ZeroNet to start
      run: sleep 10

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip
        pip3 install selenium
        sudo apt-get install -y chromium-chromedriver
        if [ ! -f /usr/bin/chromedriver ]; then
          sudo ln -s /usr/lib/chromium-browser/chromedriver /usr/bin/chromedriver
        fi

    - name: Run Python script
      run: python3 prueba.py
