name: myEPG

on:
  schedule:
    - cron: '0 12 * * *' # Ejecutar a las 12:00 cada día
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v2

      - name: Dar permisos de ejecución al script
        run: |
          chmod +x .github/workflows/extraer_canales_epg.sh

      - name: Ejecutar script 1
        run: .github/workflows/extraer_canales_epg.sh

      - name: Configurar identidad de Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Subir archivos
        run: |
          git add . # Añadir todos los archivos modificados y no rastreados
          git commit -m "Add processed M3U files"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check for new channels file
        id: check_new_channels
        run: |
          if [ -f canales_nuevos.txt ]; then
            echo "new_channels=true" >> $GITHUB_ENV
          else
            echo "new_channels=false" >> $GITHUB_ENV

      - name: Create issue
        if: env.new_channels == 'true'
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: "Nuevos canales EPG"
          content-filepath: canales_nuevos.txt
          token: ${{ secrets.GITHUB_TOKEN }}
