name: ZeroNet Scraper

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      # Ejecutar ZeroNet en un contenedor Docker
      - name: Run ZeroNet with Docker
        run: |
          docker run -d \
            --name zeronet \
            -p 43110:43110 \
            nofish/zeronet

          # Esperar a que ZeroNet se inicie
          sleep 10

      # Verificar si ZeroNet está en ejecución
      - name: Check if ZeroNet is running
        run: |
          docker ps -f name=zeronet --format "table {{.Names}}\t{{.Status}}"
          docker logs zeronet  # Mostrar logs de ZeroNet

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: Run scraper
        run: python scraper.py

      # Mostrar el contenido del archivo code_iframe.txt
      - name: Show iframe_content.txt content
        run: cat iframe_content.txt
