name: zz_generar_canales

on:
  workflow_call:
  repository_dispatch:
    types: [generate_eventos]  # Tipo de evento personalizado

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout del repositorio
      - name: Checkout repository
        uses: actions/checkout@v3

      # Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      # Instalar dependencias
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests python-Levenshtein

      # Ejecutar el script
      - name: Run Python script
        run: python scripts/generar_canales.py

      # Configurar identidad de Git
      - name: Configurar identidad de Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      # Verificar si existe el archivo cambios.txt
      - name: Check for zz_canales/cambios.txt
        id: check_cambios
        run: |
          if [ -f zz_canales/cambios.txt ]; then
            echo "cambios_exists=true" >> $GITHUB_ENV
          else
            echo "cambios_exists=false" >> $GITHUB_ENV
          fi

      # Verificar si hay cambios en los archivos
      - name: Check for changes
        id: changes
        run: |
          git add zz_canales/zz_canales.db zz_canales/lista-ott.m3u zz_canales/zz_lista_ott.m3u zz_canales/zz_lista_ace.m3u zz_canales/zz_lista_kodi.m3u zz_canales/debug_log.txt zz_canales/canales_iptv_temp.csv zz_lista_ott.m3u zz_lista_ace.m3u zz_lista_kodi.m3u
          if [ "${{ env.cambios_exists }}" == 'true' ]; then
            git add zz_canales/cambios.txt
            echo "cambios.txt detectado"
          fi
          if git diff --cached --quiet; then
            echo "No hay cambios para confirmar"
            echo "changes=false" >> $GITHUB_OUTPUT
          else
            echo "Cambios detectados"
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      # Pull latest changes
      - name: Pull latest changes
        if: steps.changes.outputs.changes == 'true'
        run: git pull origin main

      # Commit y push
      - name: Commit changes
        if: steps.changes.outputs.changes == 'true'
        run: |
          git commit -m "Actualización automática desde workflow"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Crear un issue si existe cambios.txt
      - name: Create issue
        if: env.cambios_exists == 'true'
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: "Canales generados"
          content-filepath: zz_canales/cambios.txt
          token: ${{ secrets.GITHUB_TOKEN }}
